﻿@model Northwind.Models.ChartData
@{
    ViewBag.Title = "Charts";
}

<h2>Charts</h2>

<div class="font-md">Reports</div>
<form method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    <!-- Email List -->
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, "First Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("FirstName", null, htmlAttributes: new { @class = "form-control signin-form" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.StartDate, "Start Date", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.TextBox("StartDate", null, new { @class = "form-control signin-form" })
        
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.EndDate, "End Date", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.TextBox("EndDate", null, new { @class = "form-control signin-form" })
    </div>

    <!-- Submit button -->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button id="submit" type="submit" class="btn btn-default">Get Sales Data</button>
        </div>
    </div>
</form>

<div class="font-md"><a href="~/Home/Index"><i class="fa fa-home"></i> Home</a></div>

@section Scripts
{
    <script>
        $(function () {
            $('#StartDate').datepicker();
        });

        $(function () {
            $('#EndDate').datepicker();
        });

        $('#submit').click(function () {
            var URL = "@Url.Content("~")Cart/AddToCart";
            $.post( URL)
             .always(function( data, textStatus, statusObject ) {
               
                 if(statusObject.status == 200){

                 } else {
                     // error
                     console.log("Http response code: " + data.status);
                     console.log("Http response: " + data.statusText);

            var actionURl = '@Url.Action("Employee", "Charts")';
            $.getJSON(actionURl, displaydata)
            .always(function (data, textStatus, StatusObject) {
                if (statusObject.status == 200) {
                    console.log(statusObject.status);
                    for (i = 0; i < data.length; i++) {
                        console.log(data[i].EmployeeID);
                    }
                } else {
                    console.log("Http response code: " + data.status);
                    console.lot("Http response: " + data.statusText);
                }
            });
        });

        function displaydata() {
            console.log("asasdfasdf");
        }
    </script>
}