﻿
@using Northwind.Models
@model ChartDTO

@{
    ViewBag.Title = "Sales Info";
}

<div class="font-md">Sales Info</div>
<div class="well">
    <!-- Customer Form -->
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            <div class="col-xs-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.startDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Start Date: " } })
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.endDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.endDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Start Date: " } })
                        </div>
                    </div>
                </div>
            </div>



            <!-- Submit -->
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
       </div>





    }
</div>
<div class="font-md"><a href="~/Home/Index"><i class="fa fa-home"></i> Home</a></div>
