﻿@model Northwind.Models.EmployeeSignIn

@{
    ViewBag.Title = "SignIn";
}

<h2>Sign In</h2>

<div class="font-md">Employee Sign In</div>
<div class="well">
    <form method="post" class="form-horizontal">
        @Html.AntiForgeryToken()
        <!-- Email List -->
        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeId, "Employee Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmployeeId", null, htmlAttributes: new { @class = "form-control signin-form" })
            </div>
        </div>
        <!-- Password -->
        <div class="form-group">
            @Html.LabelFor(model => model.Password, "Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter Password" })
            </div>
        </div>
        <!-- Submit button -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Sign In</button>
            </div>
        </div>
    </form>
</div>

<div class="font-md">
    <a href="~/Home/Index"><i class="fa fa-home"></i> Home</a>
</div>
