﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Northwind</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <!-- Google font -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css' />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home/Index" class="navbar-brand"><i class="fa fa-home"></i> Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- Products -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-database"></i> Products<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" id="NavbarProducts">
                            <li><a href="~/Product/Category"><i class="fa fa-list"></i> Browse Categories</a></li>
                            <li><a href="~/Product/Search" id="search"><i class="fa fa-search"></i> Product Search</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="~/Product/Discount"><i class="fa fa-tag"></i> Current Discounts</a></li>
                        </ul>
                    </li>
                    <!-- Customers -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-users"></i>&nbsp;Customers <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @if (!Request.IsAuthenticated)
                            {
                                <li><a href="~/Customer/SignIn"><i class="fa fa-sign-in"></i> Sign In</a></li>
                                <li><a href="~/Customer/Register"><i class="fa fa-user-plus"></i> Register</a></li>
                                <li role="separator" class="divider"></li>
                            }
                            <li><a href="~/Customer/Account"><i class="fa fa-user"></i> Your Account</a></li>
                        </ul>
                    </li>
                    <!--Employees-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-users"></i>&nbsp;Employees <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @if (!Request.IsAuthenticated)
                            {
                                <li><a href="~/Employee/SignIn"><i class="fa fa-sign-in"></i> Sign In</a></li>
                                <li><a href="~/Employee/Register"><i class="fa fa-user-plus"></i> Register</a></li>
                                <li role="separator" class="divider"></li>
                            }
                            <li><a href="~/Employee/Account"><i class="fa fa-user"></i> Your Account</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left hidden-xs" role="search" method="post" action="~/Product/SearchResults">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input type="text" class="form-control" name="SearchString" id="SearchString" placeholder="Product Search">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </form>
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="~/Employee/Charts"><i class="fa fa-list"></i> Reports</a></li>
                    </ul>
                }
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="~/Home/SignOut"><i class="fa fa-sign-out"></i> Sign Out</a></li>
                    </ul>
                }

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
